<?xml version="1.0" ?>
<Configuration Version="1.0">
	<Logging>
		<Logger Name="Main Console" Type="Debug" Level="100" Driver="Raw" />
		<Logger Name="System Log" Type="Debug" Level="300" Driver="File">
			<Option Name="File" Value="System.Main.Log" />
		</Logger>
	</Logging>
</Configuration>
